body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
}

.header {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.status-text {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}

.app-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
